@charset "utf-8";

/* CSS Document here */


/* CSS Reset */

/* CSS3 Web font support for Calibri font */

@font-face {
 font-family: calibri;
 src: url("/fonts/calibri.eot") /* EOT file for IE */
}
@font-face {
 font-family: calibri;
 src: url("/fonts/calibri.ttf") /* TTF file for CSS3 browsers */
}
@font-face { 
    font-family: "calibri";
    src: url("/fonts/calibri.eot");
    src: local("/fonts/calibri"), url("/fonts/calibri.ttf"); 
}


img {
	behavior:	url("pngbehavior.htc");
}



body
	{ background: #e4e4e4 url(/images/donor/body_bg.jpg) repeat-x;
    font:12px calibri, Verdana, Arial, sans-serif;
	}



/* Main Wrapper style */

.wrapper
	{width:940px;
	margin: 0 auto;
	position:relative;
	}


/* Header Wrapper style */

.header
	{width:940px;
	}
	
.header-left
	{ float:left;
	display:inline;
	width:315px;
	}
	
	
.header-right
	{ float:right;
	display:inline;
	width:625px;
	}
	
	
	

	
/* Top Menu style */

.top-menu
	{width:auto;
	line-height:34px;
	background:url(/images/donor/top_menubg.gif) repeat-x;
	border-left:#c2c2c2 solid 1px;
	border-right:#c2c2c2 solid 1px;
	border-bottom:#c2c2c2 solid 1px;
	position:absolute;
	top:0;
	right:0;		
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#2e2e2e;
	text-align: center;
	font-weight:bold;
	}

.top-menu span
	{ margin: 0 10px 0 10px;
	}


.top-menu a
	{
	color:#c2c2c2;
	}





/* Main Site Navigation */

.topnav
	{float:right;
	margin: -27px 0 0 0px;

	}


.topnav ul li
	{ float:left;
	display:block;
	line-height:35px;
	margin: 0 0 0 10px;
    font-size:14px;
	font-weight:bold;
	}

.topnav ul li a
	{
	display:block;
	line-height:35px;
	color:#3a3c37;
	padding: 0 15px 0 15px;
    font-size:14px;
	font-weight:bold;


	}


.topnav ul li a:hover
	{
	display:block;
    line-height:35px;
    color:#71c055;
	padding: 0 15px 0 15px;
	background:url(/images/donor/topnav_bg.gif) repeat-x;
	/*border-left:#71c055 solid 1px;*/
	/*border-right:#71c055 solid 1px; */
	/*border-top:#71c055 solid 1px;   */
    font-size:14px;
	font-weight:bold;
	}


.topnav .active
	{
	background:url(/images/donor/topnav_bg.gif) repeat-x;
	border-left:#71c055 solid 1px;
	border-right:#71c055 solid 1px;
	border-top:#71c055 solid 1px;
    font-size:14px;
	font-weight:bold;
	}

.topnav .active a
	{ color:#71c055;

	}






/* Home page Big Heading */

.home-top-heading
	{
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size:25px;
   	font-style:italic;
	color:#c2c2c2;
	text-align:center;
	width:938px;
	height:105px;

	}

.home-top-heading p
	{ padding: 25px 0 0 0px;
	}




/* Top Middle Box Starts */

.top-middle-container
	{width:940px;
	height:294px;
	margin: 25px 0 0 0px;
	position:relative;	
	}
	

	
.top-middle
	{ width:940px;
	height:294px;
	background:url(/images/donor/topmid_bg.gif) repeat-x;
	border:#FFFFFF solid 1px;
	}



.top-middle-box
	{ width:915px;
	margin:10px;
	}

.top-middle-blackbox
{ width:609px;
height:276px;
background:url(/images/donor/blackbox_bg.gif) no-repeat;
float:left;


}

.top-middle-blackbox-content 
{ width:566px;
font-size:12px;
color:#c2c2c2;
margin:auto;
padding-top:44px;
}


.top-middle-blackbox-content a
	{ color:#7fc352;
    font-size:12px;
	font-weight:bold;
    font-family: Arial;
	}


.top-middle-blackbox-content-left
	{ float:left;
	width:250px;
	}

.top-middle-blackbox-content-right
	{ float:right;
	width:316px;
	
	}

.top-middle-blackbox-content-right div
	{ padding: 0 0 0 20px;
	line-height:16px;
	
	}


.top-middle-blackbox-content-left img
	{ border:#b0b0b2 solid 1px;
     -moz-box-shadow: 2px 2px 5px #000;
     -webkit-box-shadow: 2px 2px 5px #000;
     box-shadow: 2px 2px 5px #000;
	 behavior: url(ie-css3.htc);
	}



.top-middle-blackbox div img
	{
	
	}

.bottomlink
	{ margin-top:13px;
	}

.contentlink
	{ margin-top:13px;
	}



.top-middle-blackbox h1
	{    font-size:25px;
	color:#FFFFFF;
	margin: 0px 0 20px 0px;
	line-height:26px;

	}



.top-middle-blackbox-info
{ float:right;
width:306px;



}

.progressbar
	{
    width:227px;
	height:8px;
	border:#FFFFFF solid 1px;
	background:url(/images/donor/pbar_bg.gif) repeat-x;
	margin: 10px 0 19px 0px;
	}


.progress{
	height:8px;
	background:url(/images/donor/pbar_green.gif) repeat-x;
	}


/* Donate button */
.donate_button
{ display:block;
height:62px;
width:175px;
margin-left:30px;
cursor:pointer;
}




/* Donate button bubble-tip */

.jttip {
	
	float: left;
	position: absolute;
	z-index:99999;
	margin-top:45px;	
	margin-top:-45px; /*for IE6*/
	margin-top:0px; /*for IE7*/
	margin-top:0px; /*for IE8*/
	background: #EAEAEA url(/images/donor/sub-bg.png) no-repeat;	
	height:65px;
	width:232px;
}

.jttipcontent {
	padding: 10px 10px 0px 10px;
	font-size:20px;
	color:#353535;	

}


.jttipcontent ul  {
	
	margin: 0px 0px 0 5px;
}


.jttipcontent ul li {
	float:left;
	display:block;
	margin: 15px 5px 0 0px;
	line-height:30px;
}

.jttipcontent ul li a{
	cursor:pointer;
	
}


/* Donate button bubble-tip ends */






.top-middle-blackbox-info .content
{ margin: 20px 0 0 36px;

}





.top-middle-blackbox-info .content h1
{ font-size:45px;
color:#7eb536;
font-weight:bold;
letter-spacing: -1px;
margin: 0 0 10px 0px;
line-height:36px;
text-shadow: 0px 0px white, -1px -1px #444;
behavior: url(ie-css3.htc);

}


.top-middle-blackbox-info .content p
{ font-size:16px;
color:#717171;
}


.top-middle-blackbox-info .content h2
{ font-size:32px;
color:#353535;
}



	
.bottom
{ display:block;
background:#c2c2c2;
height:5px;
width:940px;


}
	
	
/* Top Middle Box Ends */








/* How to works heading */
	
.howworks
	{ 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:25px;
	font-style:italic;
	color:#c2c2c2;
	text-align:center;
    margin: 15px 0px 8px 0px;
	}
	
	
	
/* Bottom box Starts */
	
.bottom-box
	{ width:940px;
	height:126px;
	margin:auto;
	background:url(/images/donor/bottombox_bg.jpg) repeat-x;
	margin: 0 0 65px 0px;
	border:#c2c2c2 solid 1px;	
	}
	
	
.bottom-box-container
{ width:883px;
height:101px;
position:relative;
top:17px;
left:33px;

}
	
	
.bottom-box div
	{ float:left;
	display:inline;
	}	
	
	
.devider
	{ margin: 0 40px 0 40px;
	}
	
	
.first
	{
	float:left;
	display:inline;
	position:relative;
	}
	
.second
	{ 
	float:left;
	display:inline;
	position:relative;
	}


.third
	{
	float:left;
	display:inline;
	position:relative;
	}

	
.first .num
	{ width:48px;
	height:77px;	
	position:absolute;
	left:0;
	font-size:8em;
	top:-15px;
	color:#7eb536;
	}

.second .num
	{ width:48px;
	height:77px;
	float:left;
	position:absolute;
	left:0;
	font-size:8em;
	top:-15px;
	color:#7eb536
	}

.third .num
	{ width:48px;
	height:77px;
	float:left;
	position:absolute;
	left:0;
	font-size:8em;
	top:-15px;
	color:#7eb536
	}



.first .num-info
	{ 
	float:left;
	margin: 10px 0 0 52px;
	width:181px;
	font-size:12px;
	color:#717171;
	line-height:15px;
	}


.second .num-info
	{ 
	float:left;
	margin: 10px 0 0 52px;
	width:181px;
	font-size:12px;
	color:#717171;
	line-height:15px;
	}


.third .num-info
	{ 
	float:left;
	margin: 10px 0 0 52px;
	width:181px;
	font-size:12px;
	color:#717171;
	line-height:15px;
	}



.first h2
{ 
font-size:20px;
color:#353535;
margin-bottom:8px;

}
	
.second h2
{
font-size:20px;
color:#353535;
margin-bottom:8px;
}	
	

.third h2
{ 
font-size:20px;
color:#353535;
margin-bottom:8px;
}		
	

/* Bottom box Ends */





	
/* Footer Starts */

.footer
	{background:#7fc352;
	height:65px;
	}
	
	
	
.footer-content
	{width:940px;
	margin:auto;
	top:25px;
	position:relative;
	}
	

	
.footer-content-left
	{ float:left;
	font-size:18px;
	color:#FFFFFF;
	}
	
	
	.footer-content-right
	{ float:right;
	color:#FFFFFF;
	font-size:12px;
	}


 /* Footer Ends */


