﻿/* IE6 css fixer v0.95: Mon, 05 Sep 2011 12:57:55 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
.header-left,
.header-right,
.top-menu,
.top-middle-blackbox,
.top-middle-blackbox-content-left,
.top-middle-blackbox-content-right,
.top-middle-blackbox-info,
.bottom-box div,
.third,
.footer-content-left,
.footer-content-right,
.first,.second,
.first .num,.second .num,.third .num,
.first .num-info,.second .num-info,.third .num-info {display:inline;}

/* add zoom:1 to pos:relative elements */
.bottom-box-container,
.footer-content {zoom:1;}

/* add overflow:visible to (submit) buttons */
 input, button {overflow:visible;}


/* ============================================= */
/* potentially harmful settings                  */

/* add zoom:1 to backgrounds -- Manually check for problems with inline elements! */
body,
.top-menu,
.top-middle,
.top-middle-blackbox,
.progressbar,
.progress,
.donate_button a,
.donate_button a:hover,
.bottom-box,
.footer {zoom:1;}



.top-middle-blackbox {
	background: #353535;
	 width:609px;
     height:276px;	
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../images/icon_bg.png');
}


.howworks
	{ 	
    margin: 10px 0px 8px 0px;
	}
