html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-weight:normal;
	font-size:100%;
	vertical-align:top;
	
	

}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}





/* remember to define focus styles! */
:focus 
{
	outline: 0;
}
body 
{
	line-height: 1;
	color: black;
	background: white;
}
ol, ul 
{
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table 
{
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td 
{
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: "";
}
blockquote, q 
{
	quotes: "" "";
}
a:focus, object:focus 
{
	outline: none;
}
i, em 
{
	font-style: italic;
}

b, strong 
{
	font-weight: bold;
}

a
	{text-decoration:none;
	}
	
	
	
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}	
	
	
	
	
	