=h content_for(:title, "Upload image - #{@cause.name}")
%div
  = form_for :cause_image, :url => cause_namespaced(cause_cause_images_path(@cause)), :html => {:method => :post, :multipart => true} do |f|
    = f.error_messages
    %p
      = f.label "Image file"
      %br/
      = f.file_field :image
    %p
      = f.label "Image message"
      %br/
      = f.text_field :message
    %p
      =f.submit :value => "Submit", :class => 'button'
      =link_to "Done", cause_namespaced(causes_path )
- if @cause.images.count > 0
  %hr
  #div.images
    %h2= "Listing images"
    %p.redNote= "To remove the image, simply click on it"
    %ul.inline
      -@cause.images.each do |cause_image|
        %li
          =link_to (image_tag cause_image.image.url(:small),:title => cause_image.message,:class => 'bordered'), cause_namespaced(cause_cause_image_path(@cause ,cause_image)), :confirm => "Are you sure you want to delete this image permenantly?", :method => :delete





    