#rightCell
  #roundedBox
    - unless @causes.empty?
      %h1
      = will_paginate(@causes)
      = search_result_heading(@search_string)
      -#= render :partial => "causes/cause", :collection => @causes
      = @causes.inspect
      = will_paginate(@causes)
    - else
      %h1
        Sorry No Causes Found !!
