=h content_for(:title, "Admin dashboard")
%table
  %tr
    %th= "Number of organisations"
    %td= @total_organisations
  %tr
    %th= "Total causes"
    %td= @causes_count
  %tr
    %th= "Causes in making"
    %td= @causes_in_making
  %tr
    %th= "Causes awaiting review"
    %td= @causes_awaiting_review
  %tr
    %th= "Scheduled causes"
    %td= @causes_scheduled
  %tr
    %th= "Executed causes"
    %td= @causes_executed