- title "Credit Card"

%p
  %strong Card Type:
  = credit_card.card_type
%p
  %strong Card Expiration Month:
  = credit_card.expiration_month
%p
  %strong Card No:
  = splitcard(credit_card.number)

%p{:style => "margin-top: 10px;"}
  = link_to image_tag("edit.png"), edit_donor_credit_card_path(:donor_id => current_donor.id , :id => credit_card.id)
  = link_to image_tag("delete.png"), donor_credit_card_path(:donor_id => current_donor.id , :id => credit_card.id), :confirm => 'Are you sure?', :method => :delete
  
