#rightCell
  #uinqueStyle
    %h1 Pay Online
    = f.error_messages
    %ul
      %li
        = f.hidden_field :donor_id
        = f.label :card_type
        = f.select :card_type, SiteConfig.card_type.collect {|key, type| [type, type]}, {}, :onchange => ''
      %li
        = f.label :number
        = f.text_field :number, :value => splitcard(@credit_card.number)

        - if params[:action] == 'new'
          %li
            = f.label :security_code
            = f.text_field :security_code
      %li
        = f.label :expiration_month
        = select_month(Date.today, :use_month_names => %w(Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec))
      %li
        - start_year = Time.now.year
        - end_year = 10.years.since.year
        - year = []
        - for i in start_year..end_year
          -year << i
        = f.label :expiration_year
        = f.select :expiration_year, year.collect {|value| [value, value]}, {}, :onchange => ''
      %li.signUp
        = f.submit