- title "Credit Cards"
%br
%h1== Credit Card details :
%br
%table{:class =>  "cardInfo"}
  %tr
    %th Card Type
    %th Card No
    %th Exp Month
    %th Exp Year
  - for credit_card in @credit_cards
    %tr
      %td= credit_card.card_type
      %td= splitcard(credit_card.number)
      %td= credit_card.expiration_month
      %td= credit_card.expiration_year
      %td= link_to "Pay Now", credit_card_payment_response_path(credit_card.id)
%br 
= link_to "Add Credit Card details", new_donor_credit_card_path(current_donor.id)