- title "Credit Card"

%p
  %strong Card Type
  = @credit_card.card_type
%p
  %strong Card expiration_month
  = @credit_card.expiration_month
%p
  %strong Card No
  = @credit_card.number
%p
  = link_to "Edit", edit_credit_card_path(@credit_card)
  |
  \#{link_to "Destroy", @credit_card, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", credit_cards_path}