%ul#nav
  %li{:class => check_controller_active("Admin::DashboardController")}
    %a{:href => admin_dashboard_path} Dashboard
  %li{:class => check_controller_active("Admin::OrganisationsController")}
    %a{:href => admin_organisations_path} Organisations
  %li{:class => check_controller_active("CausesController CauseImagesController CauseUpdatesController")}
    %a{:href => cause_namespaced(causes_path)} Causes
  /
    %li{:class => check_controller_active("Admin::SchedulesController")}
      %a{:href => admin_schedules_path} Schedule
    %li{:class => check_active("")}
      %a{:href => admin_donations_path} Donations
  -#%li{:class => check_active(cause_namespaced(causes_path))}
  -#  %a{:href => "#"} Reports
%p.user
  Welcome Admin
  |
  %a{:href =>  logout_admin_admin_index_path} Logout