!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %title
        Cause of the day
      = stylesheet_link_tag 'admin_styles'
      = javascript_include_tag 'admin'
      = csrf_meta_tag

      /[if IE]
        <meta content='IE=7' http-equiv='X-UA-Compatible'>
      %meta{:content => "authenticity_token", :name => "csrf-param"}
        %meta{:content => "QTXx1yrpAc1o7LhDYPOWWLWXPyG185ygjaWYIDsRT2U=", :name => "csrf-token"}
          %style{:charset => "utf-8", :type => "text/css"}
  %body
    #hld
      .wrapper
        / wrapper begins
        #header
          .hdrl
          .hdrr
          %h1
            = link_to  'Cause of the day', '/admin/dashboard'
          = render :partial => '/layouts/admin/menu'
        #cloudsAdmin
          = rhs_box(:title => "Today's cause (#{Date.today.to_s(:month_day)})", :more_link => false, :partial_name => '/causes/today')
          = rhs_box(:title => 'Tags', :more_link => '#', :partial_name => 'admin/admin/tags')

        #leftCellAdmin
          .block
            .block_head
              .bheadl
              .bheadr
              %h2
                =h yield(:title)
              %span.ajax-loading
              =h yield(:search_form)
            / .block_head ends
            .block_content
              = yield
            .bendl
            .bendr
      #footer
        = render :partial => "layouts/footer"
        -if Rails.env == 'development'
          = "Session: #{session.inspect}"
    / wrapper ends
  / #hld ends
  #ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all