%p
  = f.label :organisation
  %br/
  = f.collection_select(:organisation_id, Organisation.all, :id, :name, {:include_blank => "Please Select"}, {})
%p
  = f.label :requested_start_date
  %br/
  = f.text_field :requested_start_date, :disabled => true
  
%p
  = f.label :requested_end_date
  %br/
  = f.text_field :requested_end_date, :disabled => true

%p
  = f.label :start_date
  %br/
  = f.text_field :start_date, :as => :datepicker

%p
  = f.label :end_date
  %br/
  = f.text_field :end_date, :as => :datepicker