#roundedBoxSmall
  = content_tag_for :div, cause do
    %table.info
      - if search_result?
        %tr
          %td.title Organisation:
          %td= cause.organisation.name
      %tr
        %td.title Name:
        %td= cause.name
      %tr
        %td.title Target Amount:
        %td= cause.target_amount
      %tr
        %td.title Description:
        %td= cause.description
      %tr
        %td.title Schedule Date:
        %td= cause.schedule_date
      %tr
        %td.title Tags:
        %td= cause.tags_on(:cause).join(", ")
      %tr
        %td.title Images:
        %td
          %ul.inline
            -cause.images.each do |cause_image|
              %li= image_tag cause_image.image.url(:thumb),:title => cause_image.message
      - if under_admin? && !search_result?
        %tr
          %td.title Actions:
          %td
            = link_to image_tag("edit.png"), edit_admin_organisation_cause_path(:id => cause.id, :organisation_id => cause.organisation.id), :title => "Edit #{cause.name}"
            \#{link_to image_tag("delete.png"), admin_organisation_cause_path(:id => cause.id, :organisation_id => cause.organisation.id), :confirm => 'Are you sure?', :method => :delete, :title => "Delete #{cause.name}"}
            \#{link_to "(#{cause.images.count}) Images", new_admin_organisation_cause_cause_image_path(:cause_id => cause.id,:organisation_id => cause.organisation.id)}

