%p
  = f.label :requested_start_date
  %br/
  = f.text_field :requested_start_date, :as => :datepicker, :size => 30
%p
  = f.label :requested_end_date
  %br/
  = f.text_field :requested_end_date, :as => :datepicker, :size => 30