%p
  = f.error_messages
%p
  = f.label :name
  %br/
  = f.text_field :name
%p
  = f.label :target_amount
  %br/
  = f.text_field :target_amount
%p
  = f.label :description
  %br/
  = f.text_area :description
%p
  = f.label :city
  %br/
  = f.text_field :city
%p
  = f.label :country
  %br/
  = f.text_field :country

- if admin_user?
  = render :partial => 'cause_admin_form', :locals => { :f => f }
- else
  = render :partial => 'cause_organisation_form', :locals => { :f => f }
%p
  = f.label :Tags
  %br/
  = f.text_field :tag_list, :value => f.object.tags_on(:cause).join(", ")
%p
  = f.submit :class => 'button'
  |
  = link_to "Cancel", cause_namespaced(causes_path)

:javascript
  $(function() {
   $("#cause_start_date" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'yy-mm-dd',
   });

   $("#cause_end_date" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'yy-mm-dd',
   });

   $( "#cause_requested_start_date" ).datepicker({
    changeMonth: true,
    changeYear: true,
    gotoCurrent: true,
    minDate: new Date,
    dateFormat: 'yy-mm-dd',
  });

   $( "#cause_requested_end_date" ).datepicker({
    changeMonth: true,
    changeYear: true,
    gotoCurrent: true,
    minDate: new Date,
    dateFormat: 'yy-mm-dd',
  });

    $('#add_image').click(function() {
      var url = this.href;
      var dialog = $('<div style="display:hidden" ></div>').appendTo('body');
      dialog.load(
        url,        
        function (responseText, textStatus, XMLHttpRequest) {
          $(dialog).html(responseText);
          $(dialog).dialog({title: 'Upload Image'});
        });
        //prevent the browser to follow the link
        return false;
    });
  });

