%table{:width => "100%"}
  %tr
    %th= "Organisation"
    %th= "Name"
    %th= "Dates"
    %th= "Target $"
    %th= "Status"
    %th= "Action"
  -@causes.each do |cause|
    %tr{:class => cause.stage}
      %td= cause.organisation.name
      %td= link_to cause.name, cause_namespaced(edit_cause_path(cause))
      - unless cause.send(:scheduled?)
        %td
          = cause.requested_start_date
          To
          = cause.requested_end_date
          (requested dates)
      - else
        %td
          = cause.start_date
          To
          = cause.end_date
      %td= cause.target_amount
      %td= cause.stage.titleize
      %td
        = link_to 'Edit', cause_namespaced(edit_cause_path(cause))
        |
        =link_to "Images (#{cause.images.count})", cause_namespaced(new_cause_cause_image_path(cause))
        |
        =link_to "See Stats", cause_namespaced(stats_cause_path(cause))
        |
        =link_to "Updates", cause_namespaced(cause_cause_updates_path(cause))

#div.pagination_links
  = will_paginate @causes