=h content_for(:title, "Edit #{@cause.name}")
= form_for(@cause, :url => cause_path(:id => @cause.id)) do |f|
  = render :partial => '/causes/form', :locals => {:f => f}

%p
  =link_to "Delete this Cause", cause_namespaced(cause_path(@cause)), :confirm => "Are you sure you want to completely remove this cause? It will be permenantly deleted from our system and you will no longer be able to access it.",:class => 'remove',:method => :delete
  %br
  Deleting this cause will delete all the donations associated with this cause.
