=h content_for(:title, @title)
%ul.inline.causeFilters
  %li.bold= "Cause filters:"
  %li= link_to 'All', '/causes'
  %li= link_to 'In Making', :status => Cause::IN_MAKING
  %li= link_to 'In Review', :status => Cause::IN_REVIEW
  %li= link_to 'Scheduled', :status => Cause::SCHEDULED
  %li= link_to 'Executed', :status => Cause::EXECUTED
= render :partial => '/causes/list'
= link_to "Add new cause", cause_namespaced(new_cause_path), :class => 'bold'
- content_for(:search_form) do
  %ul
    %li.nobg
      %a{:href => "http://192.168.1.109:3000/users/new"}
      #search-news
        %form{:action => causes_search_index_path, :method => "get"}
          %div
            %input#search_string{:name => "search_string", :type => "text", :value => "", :placeholder => 'Search Causes'}
            .more
              %input{:name => "search", :type => "submit", :value => "Search"}/