= javascript_include_tag 'justthetip'

#causeDetails
  %section#leftSection
    .header
      .title
        Hello all
      .subtitle
        something
      .socialButtons
        %ul
          %li
            %a.twitter-share-button{"data-count" => "none", :href => "https://twitter.com/share"} 
              Tweet
            %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
          %li
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&appId=294854553862934", :style => "border:none; overflow:hidden; width:450px; height:21px;"}
          %li.last
            .g-plusone{"data-annotation" => "none", "data-size" => "medium"}
            :javascript
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
        
        
    .clr 
    .bannerSlideshow
      %ul.imageCarousel
        - @cause.images.each do |img|
          %li.image
            = image_tag img.image.url(:large), :height => '260px', :width => '640px'
    .data
      .description
        = @cause.description
      .updates
        .title 
          Updates
        - @cause.updates.each do |update|
          .update
            .updateTitle
              = update.title
              %span.datetime
                = time_format(update.created_at)
            .updateDescription
              = update.description.html_safe
      .countryStats
        .title
          Countries donating for the Cause
        .content
          // TODO countries stats data to be put here.

  %section#rightSection
    %section.top
      .dateField
        .date
          = @cause.created_at.day
        .month
          = @cause.created_at.strftime('%h')
        .year
          = @cause.created_at.year
      .title
        Start by Donating 1$
      .amountRaised
        $
        = @cause.donation_amount_collected
        raised
      %section.progressbar
        %section.progress{:style => "width:#{@cause.completed_amount_fraction*227}px; max-width:227px;" }
      - if current_donor
        %p= render :partial => '/home/payment_options'
      - else
        %section.donate_button
          = link_to '#', :id => 'jttrigger-0' do
            %img.domroll{:class => "/images/donate_over.png", :height => "62", :src => "/images/donor/donate_out.png", :width => "175"}/

      #jttip-0.jttip{:style => "display:none;"}
        .jttipcontent
          %ul
            %li Donate through
            %li
              %a{:href => "/auth/facebook"}
                %img{:alt => "", :height => "30", :src => "/images/donor/ico_facebook.gif", :width => "30"}/
            %li
              %a{:href => "/auth/twitter"}
                %img{:alt => "", :height => "30", :src => "/images/donor/ico_twitter.gif", :width => "29"}/
  
    %section.bottom

:javascript
  jQuery(document).ready(function() {
    jQuery(".imageCarousel").jcarousel({
      scroll: 1,
      animation: 1000,
      auto: 3,
      wrap: 'circular',
      buttonNextHTML: null,
      buttonPrevHTML: null,
    });
  });