%h2
  Statistics for
  = link_to @cause.name, cause_namespaced(cause_path(@cause))
  - if admin_user?
    by organisation
    = link_to @cause.organisation.name, admin_organisation_path(@cause.organisation)

  %table
    %tr
      %td
        %p
          Total No. of Donation :
          = @cause.donation_amount_collected
    %tr
      %td
        %p
          Donations Remaining To complete the Target :
          = @cause.remaining_donation_amount
        %p
          Completion Percentage :
          = @cause.completed_amount_percentage.to_s + '%'
    %tr
      %td
        %p
          Donation Mediums -
        %p
          With Paypal :
          = @cause.donations.donated_via('Paypal').count
        %p
          With Credit Card :
          = @cause.donations.donated_via('CreditCard').count
        %p
          With Amazon :
          = @cause.donations.donated_via('Amazon').count
    %tr
      %td
        %p
          Geo Location Stats -
        - @countries.each do |c|
          %p
            = c.first
            = ':'
            = c.last

