- if @causes
  = will_paginate(@causes)
  %h1
    =search_result_heading(@tag)

  = render :partial => "admin/causes/cause", :collection => @causes
  = will_paginate(@causes)
- else
  %h1
    Sorry no causes Found !!
