%form{:action => "https://authorize.payments-sandbox.amazon.com/pba/paypipeline", :method => "post"}
  %input{:name => "immediateReturn", :type => "hidden", :value => "1"}
    %input{:name => "collectShippingAddress", :type => "hidden", :value => "0"}
      %input{:name => "accessKey", :type => "hidden", :value => "11SEM03K88SD016FS1G2"}
      -if current_donor
        %input{:name => "referenceId", :type => "hidden", :value => "#{current_donor.id}"}
          %input{:name => "amount", :type => "hidden", :value => "#{AMOUNT}"}
      %input{:name => "isDonationWidget", :type => "hidden", :value => "0"}
      -if cause_of_the_day
        %input{:name => "description", :type => "hidden", :value => "#{cause_of_the_day.id}"}
          %input{:name => "amazonPaymentsAccountId", :type => "hidden", :value => "IBPAJKNHLAVUGVJHHBVQHBR9RH2TZZKVXQMU5K"}
      %input{:name => "returnUrl", :type => "hidden", :value => "#{SiteConfig.host}"}
        %input{:name => "processImmediate", :type => "hidden", :value => "1"}
          %input{:name => "cobrandingStyle", :type => "hidden", :value => "logo"}
            %input{:border => "0", :src => "/images/amazon.png", :type => "image"}