%form{:action => "https://www.sandbox.paypal.com/cgi-bin/webscr", :method => "post"}
  %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
  %input{:name => "hosted_button_id", :type => "hidden", :value => "5UATNGW2G4USE"}
  %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "/images/paypal.png", :type => "image"}
  %input{:name => "return", :type => "hidden", :value => "#{confirm_paypal_payment_url}?cause_id=#{@cause.id}"}
  %img{:alt => "", :border => "0", :height => "1", :src => "https://www.sandbox.paypal.com/WEBSCR-640-20110401-1/en_US/i/scr/pixel.gif", :width => "1"}
