%section.top-middle-blackbox-info
  %section.content
    %h1.heading
      Start by
      %br/
      Donating 1$
    %p
      = cause.donation_amount_collected
      people have given
    %h2
      $
      = cause.donation_amount_collected
      raised
    %section.progressbar
      %section.progress{:style => "width:#{cause.completed_amount_fraction*227}px; max-width:227px;" }
    - if current_donor
      %p= render :partial => '/home/payment_options'
    - else
      %section.donate_button
        = link_to '#', :id => 'jttrigger-0' do
          %img.domroll{:class => "/images/donate_over.png", :height => "62", :src => "/images/donor/donate_out.png", :width => "175"}/

    #jttip-0.jttip{:style => "display:none;"}
      .jttipcontent
        %ul
          %li Donate through
          %li
            %a{:href => "/auth/facebook"}
              %img{:alt => "", :height => "30", :src => "images/donor/ico_facebook.gif", :width => "30"}/
          %li
            %a{:href => "/auth/twitter"}
              %img{:alt => "", :height => "30", :src => "images/donor/ico_twitter.gif", :width => "29"}/

      =#link_to 'Login with twitter', '/auth/twitter'
      =#link_to 'Login with facebook', 'javascript:void(0)', :onclick => 'loadFacebook();'