#fb-root
= javascript_include_tag 'justthetip'

- if cause
  %section.top-middle
    %section.top-middle-box
      %section.top-middle-blackbox
        %section.top-middle-blackbox-content
          %section.top-middle-blackbox-content-left
            = image_tag cause.images.first ? cause.images.first.image.url(:large) : '/images/default.jpg', :alt => cause.name, :height => "180", :src => "/images/donor/img.jpg", :title => cause.name, :width => "250"
          %section.top-middle-blackbox-content-right
            %div
              %h1
                = cause.name
              %p
                = cause.description.truncate(300)
              %p.contentlink
                = link_to "Learn More", cause_path(cause)
          .clearfloat
          %p.bottomlink
            = link_to cause.organisation.name, cause.organisation.website || '#'
      = render :partial => '/home/call_to_action', :locals => {:cause => cause}
  %section.bottom
- else
  No Cause scheduled for today. :(

  %img{:alt => "", :height => "1", :src => "/images/donor/blank.gif", :width => "1"}/