- if current_donor
  -if !current_donor.donated?(@cause)
    Donate with -
    %ul.inline
      %li{:style => 'float:left'}= render :partial => '/payment_response/amazon_donate_button',:locals => {:cause_of_the_day => @cause}
      %li= render :partial => '/payment_response/paypal_button',:locals => {:cause_of_the_day => @cause}
  - else
    Thank you for your donation for this cause. You might want to checkout
    = link_to '97changes maintenance cause.', permanent_cause_path