-if session[:top_influencer] && session[:profile_picture]
  %p
    Top Influencer for today's cause
  %span
    %img{ :src => "#{session[:profile_picture]}", :title => "#{session[:top_influencer].full_name}"}
