#contactUs
  %h1 We would love to hear you.
  #donors
    %h2= "Donors"
    %p
      If your have any questions about your donations please email us at &mdash;
      %a{:href => 'mailto:donations@97changes.com'}
        donations@97changes.com

  #ngo
    %h2= "Non profit organizations"
    %p
      If you are a non profit organization and would like to participate with our program, please email us at &mdash;
      %a{:href => 'mailto:participate@97changes.com'}
        participate@97changes.com

  #general
    %h2= "General inquiries"
    %p
      For all other general questions or inquiries please email us at &mdash; general@97changes.com
      %a{:href => 'mailto:general@97changes.com'}
        general@97changes.com

