#faq
  %h1 Frequenty asked questions.
  %h2
    Q. Why the name - 97Changes?
  %div
    Numerology says 9 stands for "Humanity" and 7 stands for "Spirituality". 97Changes is about bringing in humanitarian and spirityal changes to the world.
  %h2
    Q. Why am I not allowed to make a donation for more than 1 dollar?
  %div
    We believe that the world has enough good people like yourself who want to contribute towards making things better for others. It only takes spreading the awareness of the cause to solve it.
  %h2
    Q. What if I still want to help out more?
  %div
    Certainly you can do so by spreading the word out as much as possible to people who can afford donating a 1 dollar bill today. If your humanitarian hunger is still not satiated, kindly donate towards running this application here.
  %h2
    Q.Why do I have to give my facebook or twitter ID to donate?
  %div
    The mission of 97 Changes is to make the world a better place to live by spreading the awareness. We want to shout out your commitment to humanity to your friends and make them aware of the cause.
  %h2
    Q. Will 97 Changes charge me any fees?
  %div
    No 97 Changes does not charge you anything, however a small piece of your donation goes towards the payment processing as indicated below.
    %ul
      %li
        Amazon: 3 cents
      %li
        Paypal: 7 cents
  %h2
    Q. How do I know if the donation was used the right way?
  %div
    Each cause on 97 changes is associated to some non profit organization. The details of that affiliation is listed on the cause page and you can always feel free to check with that organization to understand how was the money used.
  %h2
    Q. Up to what extent does 97 Changes verify the NGO.
  %div
    We will do our best to verify the organization and the cause associated to it. However, we do not take any legal gurantees of ensuring the same.
  %h2
    Q. Is 97 Changes registered as a non profit organization?
  %div
    No. 97 Changes is an Idyllic Software initiative towards doing social good.Idyllic Software is comitted to donate every penny collected to the associated non profit organization.
  %h2
    Q. Can I get a refund on my donation?
  %div.last
    97 changes does not have a refund policy. However, if you strongly feel so, write to us at refund@97changes.com and we will do the best we can. We wont be able to refund the processing fees though.


