%section.top-middle-container{:id => 'todaysCause'}
  =# render :partial => 'cause', :locals => {:cause => @cause}

%section.howworks How it works
/ Bottom-box starts
%section.bottom-box
  %section.bottom-box-container
    %section.first
      %section.num 1
      %section.num-info
        %h2 Know today's change
        %p We will identify one cause every day and put it up over here. Learn about the cause.
    .devider
      %img{:alt => "", :height => "89", :src => "/images/donor/vr.gif", :width => "1"}/
    %section.second
      %section.num 2
      %section.num-info
        %h2 Commit to the cause
        %p Donate 1$ to  the cause and show your commitment .
    .devider
      %img{:alt => "", :height => "89", :src => "/images/donor/vr.gif", :width => "1"}/
    %section.third
      %section.num 3
      %section.num-info
        %h2 Broadcast
        %p We will broadcast your donation on your facebook or twitter account and shout out your social awareness to your friends.


:javascript
  $(document).ready(function() {
    loadCauseUrl = 'load_cause?offset_minutes=' + detectTimeZone();
    loadInfluencerUrl = 'top_influencer';
    $.get(loadCauseUrl,function(data){
      $('#todaysCause').html(data);
    });
    $.get(loadInfluencerUrl,function(data){
      $('#todaysInfluencer').html(data);
    });
  });