= f.error_messages
%p
  = f.label :title
  %br/
  = f.text_field :title, :style => 'width:760px;'
%p
  = f.label :description
  %br/
  = f.text_area :description, :class => 'applyTinymce', :rows => 60, :cols => 120
%p
  = f.submit :class => 'button'
  |
  = link_to "Cancel", cause_namespaced(cause_cause_updates_path(@cause))
