=h content_for(:title, "Edit #{@cause_update.title}")
= form_for(@cause_update, :url => cause_cause_update_path(@cause, @cause_update)) do |f|
  = render :partial => 'form', :locals => {:f => f}

%p
  -#=link_to "Delete this Cause", cause_namespaced(cause_path(@cause)), :confirm => "Are you sure you want to completely remove this cause? It will be permenantly deleted from our system and you will no longer be able to access it.",:class => 'remove',:method => :delete
