=h content_for(:title, @title)
%ul.inline.causeFilters
%table{:width => "100%"}
  %tr
    %th= "Title"
    %th= "Description"
    %th= "Actions"
  -@cause_updates.each do |update|
    %tr
      %td
        = link_to update.title, cause_namespaced(cause_cause_update_path(@cause, update))
      %td{:width => '400px'}
        = update.description.truncate(300).html_safe
      %td
        = link_to 'Edit', cause_namespaced(edit_cause_cause_update_path(@cause, update))
        |
        =link_to "Delete", cause_namespaced(cause_cause_update_path(@cause, update)), :confirm => "Are you sure you want to completely remove this cause update?",:class => 'remove',:method => :delete

#div.pagination_links
  = will_paginate @cause_updates

  =link_to "Add New Update", cause_namespaced(new_cause_cause_update_path(@cause)), :class => 'bold'
