.details
  %p
    %b
      Title :
    %br
    = @cause_update.title
  %p
    %b
      Description :
    %br
    = @cause_update.description.html_safe
  %p
    = link_to "Back to Updates", cause_namespaced(cause_cause_updates_path(@cause))
    |
    = link_to "Edit this Update", cause_namespaced(edit_cause_cause_update_path(@cause, @cause_update))
