<%= form_for @donation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :schedule_id %><br />
    <%= f.text_field :schedule_id %>
  </p>
  <p>
    <%= f.label :donor_id %><br />
    <%= f.text_field :donor_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </p>
  <p><%= f.submit %></p>
<% end %>
