-if @donations
  = will_paginate(@donations)
  Donations you made so far:
  = render :partial => "payment_response/donation", :collection => @donations, :as => :donation

  = will_paginate(@donations)
