<% title "Donation" %>

<p>
  <strong>Schedule:</strong>
  <%= @donation.schedule_id %>
</p>
<p>
  <strong>Donor:</strong>
  <%= @donation.donor_id %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @donation.amount %>
</p>
<p>
  <strong>Ip Address:</strong>
  <%= @donation.ip_address %>
</p>

<p>
  <%= link_to "Edit", edit_donation_path(@donation) %> |
  <%= link_to "Destroy", @donation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", donations_path %>
</p>
