%p
  Welcome to 97changes - 

%p
  Total Causes : 
  = @causes.count

%p
  Causes In Making : 
  = @causes.select{|i| i.send(:in_making?)}.count 

%p
  Causes Completed :
  = @causes.select{|i| i.send(:executed?)}.count
