body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a img {
  border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.whiteText {
  color: white; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: white; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0 !important;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px;
    font-weight: bold;
    font-size: 12px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc;
      margin: 4px 0; }

#user_nav {
  float: right;
  font-size: 13px;
  margin-top: 65px;
  color: white !important; }
  #user_nav a {
    color: white !important; }

#content {
  height: auto; }

.auth_provider {
  margin-right: 15px; }

#omniauth_connect p {
  margin: 1em 0 5px 0; }

.omniauth_remove {
  position: absolute;
  margin-left: -5px; }

.auth_providers_used {
  margin-right: 15px; }

#logo {
  float: left; }
  #logo h1 a {
    color: #111111;
    text-decoration: none; }

.css1 {
  font-size: 1em; }

.css2 {
  font-size: 1.2em; }

.css3 {
  font-size: 1.4em; }

.css4 {
  font-size: 1.6em; }

div[id^='approval_dialog'] h4 { margin: 10px 0; }
div[id='approval_dialog_body'] { overflow : scroll; height: 400px; font-size: 14px; padding: 10px; overflow-x:hidden; }