/* @override http://lvh.me:3000/stylesheets/style.css */
* {
  padding: 0;
  margin: 0; }

body {
  background: #fbfbfb url(/images/bg.jpg) 0 0 repeat;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  color: #666666;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

:focus {
  -moz-outline-style: none; }

p {
  padding-bottom: 10px; }

p.instructions {
  padding-bottom: 0px;
  color: #e56717;
  font-style: itallic; }

span.notice {
  padding-bottom: 0px;
  color: #2554c7;
  font-style: itallic; }

p.bigNotice {
  border: 1px solid #cccccc;
  color: black;
  font-size: 16px;
  padding: 10px; }
  p.bigNotice span {
    font-size: 12px;
    font-weight: normal; }
  p.bigNotice span.link a {
    color: #666666;
    text-decoration: underline; }

img, a img {
  border: 0; }

ul li {
  list-style: none; }

ul.inline li {
  list-style: none;
  display: inline; }

.clear {
  clear: both; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

a {
  color: #008ee8;
  text-decoration: none;
  outline: none; }
  a:hover {
    color: #ec8526;
    text-decoration: none; }

#hld {
  background: url(/images/hld.jpg) 0 0 repeat-x;
  min-height: 402px; }

.wrapper {
  width: 1111px;
  min-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 525px; }

/* Header */
#header {
  height: 50px;
  line-height: 50px;
  background: url(/images/hdr.gif) 0 0 repeat-x;
  color: #999999;
  font-weight: bold;
  margin-bottom: 20px; }
  #header .hdrl {
    width: 20px;
    height: 50px;
    float: left;
    background: url(/images/hdrl.gif) top left no-repeat; }
  #header .hdrr {
    width: 20px;
    height: 50px;
    float: right;
    background: url(/images/hdrr.gif) top right no-repeat; }
  #header a {
    color: #999999;
    text-decoration: none; }
    #header a:hover {
      color: white; }
  #header h1 {
    float: left;
    margin-right: 80px;
    font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: white; }
    #header h1 a {
      color: white; }
      #header h1 a:hover {
        color: #008ee8; }
  #header #nav {
    z-index: 20;
    margin: 0;
    border: 0 none;
    padding: 0;
    width: auto;
    /*For KHTML */
    list-style: none;
    height: 50px;
    padding: 0;
    float: left; }
    #header #nav * {
      z-index: 20; }
    #header #nav li {
      margin: 0;
      border: 0 none;
      padding: 0;
      float: left;
      /*For Gecko */
      display: inline;
      list-style: none;
      position: relative;
      height: 50px;
      padding: 0 10px;
      background: url(/images/nsp.gif) center right no-repeat;
      line-height: 50px; }
      #header #nav li.nobg {
        background: none; }
    #header #nav ul {
      margin: 0;
      border: 0 none;
      padding: 0;
      width: 190px;
      list-style: none;
      display: none;
      position: absolute;
      top: 50px;
      left: 0; }
      #header #nav ul:after {
        clear: both;
        display: block;
        font: 1px/0px serif;
        content: ".";
        height: 0;
        visibility: hidden; }
      #header #nav ul li {
        width: 190px;
        float: left;
        /*For IE 7 lack of compliance */
        display: block !important;
        display: inline;
        /*For IE */
        position: relative;
        top: 0;
        height: 30px;
        line-height: 30px;
        padding: 0;
        background: none; }
    #header #nav a {
      float: none !important;
      /*For Opera */
      float: left;
      /*For IE */
      display: block;
      height: auto !important;
      height: 1%;
      /*For IE */
      height: 30px;
      padding: 0 10px; }
    #header #nav li.active a {
      color: #dddddd; }
      #header #nav li.active a:hover {
        color: white; }
    #header #nav a.hasmore {
      border: 1px solid red; }
    #header #nav a:hover {
      color: white; }
    #header #nav li:hover a, #header #nav li.iehover a {
      color: white; }
    #header #nav li:hover li a, #header #nav li.iehover li a {
      text-transform: none;
      padding: 0 15px;
      font-size: 11px;
      font-weight: bold;
      line-height: 30px;
      color: #999999;
      background: url(/images/mbg.png) 0 0 repeat; }
    #header #nav li:hover li a:hover, #header #nav li:hover li:hover a {
      color: white;
      background: black; }
    #header #nav li.iehover li a:hover, #header #nav li.iehover li.iehover a {
      color: white;
      background: black; }
    #header #nav li:hover li:hover li a, #header #nav li.iehover li.iehover li a {
      float: none;
      color: #999999;
      background: url(/images/mbg.png) 0 0 repeat; }
    #header #nav li:hover li:hover li a:hover, #header #nav li:hover li:hover li:hover a {
      color: white;
      background: black; }
    #header #nav li.iehover li.iehover li a:hover, #header #nav li.iehover li.iehover li.iehover a {
      color: white;
      background: black; }
    #header #nav li:hover li:hover li:hover li a, #header #nav li.iehover li.iehover li.iehover li a {
      color: #999999;
      background: url(/images/mbg.png) 0 0 repeat; }
    #header #nav li:hover li:hover li:hover li a:hover, #header #nav li.iehover li.iehover li.iehover li a:hover {
      color: white;
      background: black; }
    #header #nav ul ul {
      display: none;
      position: absolute;
      top: 0;
      left: 190px; }
      #header #nav ul ul ul {
        display: none;
        position: absolute;
        top: 0;
        left: 190px; }
    #header #nav li:hover ul ul, #header #nav li.iehover ul ul {
      display: none; }
      #header #nav li:hover ul ul ul, #header #nav li.iehover ul ul ul {
        display: none; }
    #header #nav li:hover ul {
      display: block; }
    #header #nav ul li:hover ul, #header #nav ul ul li:hover ul {
      display: block; }
    #header #nav li.iehover ul {
      display: block; }
    #header #nav ul li.iehover ul, #header #nav ul ul li.iehover ul {
      display: block; }
  #header .user {
    float: right;
    font-size: 11px; }
    #header .user a {
      text-decoration: underline; }
      #header .user a:hover {
        text-decoration: none; }

/* Navigation */
/* Root Menu */
/* Root Menu Hover Persistence */
/* 2nd Menu */
/* 2nd Menu Hover Persistence */
/* 3rd Menu */
/* 3rd Menu Hover Persistence */
/* 4th Menu */
/* 4th Menu Hover */
/* Do Not Move - Must Come Before display:block for Gecko */
/* Blocks */
.block {
  padding-bottom: 5px;
  margin-bottom: 25px;
  width: 822px;
  background: white url(/images/bnd.gif) bottom center repeat-x; }
  .block .bendl {
    width: 5px;
    height: 5px;
    background: url(/images/bendl.gif) bottom left no-repeat;
    float: left; }
  .block .bendr {
    width: 5px;
    height: 5px;
    background: url(/images/bendr.gif) bottom left no-repeat;
    float: right; }
  .block .block_head {
    height: 54px;
    line-height: 54px;
    background: url(/images/bhead.gif) 0 0 repeat-x;
    overflow: hidden; }
    .block .block_head .bheadl {
      width: 20px;
      height: 54px;
      float: left;
      background: url(/images/bheadl.gif) top left no-repeat; }
    .block .block_head .bheadr {
      width: 20px;
      height: 54px;
      float: right;
      background: url(/images/bheadr.gif) top right no-repeat; }
    .block .block_head h2 {
      font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      color: #555555;
      text-shadow: 1px 1px 0 white;
      float: left; }
    .block .block_head ul {
      float: right;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      text-shadow: 1px 1px 0 white; }
      .block .block_head ul li {
        display: inline;
        padding: 3px 0;
        padding-left: 20px;
        background: url(/images/phs.gif) 7px center no-repeat; }
        .block .block_head ul li.nobg {
          background: none; }
        .block .block_head ul li a {
          text-decoration: none;
          color: #666666;
          outline: none; }
        .block .block_head ul li.active a {
          color: #888888; }
        .block .block_head ul li a:hover {
          color: #008ee8; }
    .block .block_head form {
      float: right;
      padding: 15px 0;
      height: 34px;
      line-height: 24px; 
      width:235px;}
      .block .block_head form .text {
        width: 129px;
        height: 15px;
        padding: 5px 10px 5px 25px;
        border: 0;
        font-size: 11px;
        color: #999999;
        margin: 0;
        background: url(/images/srch.gif) left center no-repeat; }
        .block .block_head form .text:focus {
          color: #666666;
          background: url(/images/srch_.gif) left center no-repeat; }
    .block .block_head select {
      text-transform: none; }
  .block .block_content {
    overflow: hidden;
    background: white;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 10px 20px 0;
    min-height: 100px; }
  .block .block_content a {
    color: black; }
  .block .block_content h1, .block .block_content h2 {
    font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #454545;
    margin-bottom: 10px; }
  .block .block_content h3 {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 5px; }
  .block .block_content h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 5px; }
  .block table {
    text-align: left;
    margin-bottom: 15px; }
    .block table tr td {
      border-bottom: 1px solid #dddddd;
      padding: 10px;
      line-height: normal;
      text-align: left; }
      .block table tr td.center {
        text-align: center; }
    .block table tr th {
      border-bottom: 1px solid #dddddd;
      padding: 10px;
      line-height: normal;
      text-align: left; }
    .block table tr td.action {
      text-align: right;
      font-size: 11px;
      color: #666666; }
      .block table tr td.action a:hover {
        color: #dd0000; }
  .block .tableactions {
    overflow: hidden;
    padding-bottom: 20px;
    float: left; }
    .block .tableactions select {
      width: 100px;
      margin-right: 5px;
      vertical-align: middle;
      outline: none; }
  .block .paggination {
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #eeeeee; }
    .block .paggination.right {
      float: right;
      text-align: right;
      padding-top: 0;
      border: 0;
      width: 500px;
      overflow: hidden; }
    .block .paggination a {
      border: 1px solid #cccccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 3px 6px;
      margin: 0 1px; }
      .block .paggination a.active {
        background: #39a3e6;
        border: 1px solid #0082d5;
        color: white; }
      .block .paggination a:hover {
        color: white;
        background: #ec8526;
        border: 1px solid #d77011; }
  .block .block_content ul {
    padding-left: 15px;
    padding-bottom: 15px; }
  .block .block_content ol {
    padding-left: 15px;
    padding-bottom: 15px;
    list-style-position: inside; }
  .block .block_content ul li {
    margin-bottom: 5px;
    padding-left: 15px; }
  .block .block_content ol li {
    margin-bottom: 5px; }
  .block hr {
    height: 1px;
    border: 0;
    background: no-repeat;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px; }

/* Block head */
/* Block content */
/* Messages */
.message {
  padding: 10px 15px 10px 40px;
  margin: 10px 0;
  font-weight: bold;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: none; }
  .message p {
    padding: 0;
    width: 93%;
    float: left; }
  .message.error {
    border: 1px solid #e9c59b;
    background: #ffecce url(/images/error.gif) 12px 12px no-repeat;
    color: #e3302c; }
  .message.notice {
    border: 1px solid #bfde84;
    background: #edfbd8 url(/images/success.gif) 12px 12px no-repeat;
    color: #508600; }
  .message.info {
    border: 1px solid #bbdbe0;
    background: #ecf9ff url(/images/info.gif) 12px 12px no-repeat;
    color: #0888c3; }
  .message.warning {
    border: 1px solid #e5e181;
    background: #fefde2 url(/images/warning.gif) 12px 12px no-repeat;
    color: #666666; }
  .message.alert {
    border: 1px solid #e5e181;
    background: #fefde2 url(/images/warning.gif) 12px 12px no-repeat;
    color: #666666; }
  .message .close {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url(/images/close.png) 0 0 no-repeat;
    margin-top: 2px;
    cursor: pointer;
    -moz-opacity: 0.7;
    opacity: 0.7; }
    .message .close.hover {
      -moz-opacity: 1;
      opacity: 1; }

/* Forms */
form p {
  /*overflow: hidden; */
  clear: both; }
form label {
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  margin-right: 10px;
  vertical-align: middle; }
form input.text {
  width: 410px;
  background: #fefefe;
  border: 1px solid #bbbbbb;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  vertical-align: middle; }
  form input.text.medium {
    width: 600px; }
  form input.text.big {
    width: 98%; }
  form input.text.date_picker {
    width: 100px;
    padding-right: 36px;
    cursor: pointer;
    background: url(/images/cal.jpg) center right no-repeat; }
form textarea {
  width: 98%;
  height: 140px;
  padding: 5px;
  background: #fefefe;
  border: 1px solid #bbbbbb;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none; }
  form textarea.wysiwyg {
    width: 98%;
    padding: 0; }
form input.radio, form input.checkbox {
  vertical-align: middle; }
form select.styled {
  width: 245px;
  height: 18px;
  margin-right: 20px;
  cursor: pointer; }
form .cmf-skinned-select {
  padding: 7px;
  display: block;
  margin-right: 20px;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url("/images/sdd.jpg") center right no-repeat; }

/* Custom form select element */
p.input.select.field_with_errors .cmf-skinned-select {
  border: 1px solid red; }

form .cmf-skinned-select:hover {
  background: url("/images/sdd_.jpg") center right no-repeat; }
form div.cmf-skinned-text {
  padding: 5px 7px;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333333; }
form .fileupload {
  position: relative; }
  form .fileupload #uploadmsg {
    display: block;
    position: absolute;
    top: 20px;
    left: 350px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    font-size: 11px; }
    form .fileupload #uploadmsg.loading {
      background: url(/images/ajax-loader.gif) center left no-repeat;
      width: 30px;
      padding-left: 20px; }
form input.file {
  width: 250px;
  height: 20px;
  background: #fefefe;
  border: 1px solid #bbbbbb;
  border-right: 0;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333333;
  padding: 4px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none; }
form .note {
  padding-left: 10px;
  font-size: 11px;
  font-weight: bold;
  color: #757575;
  vertical-align: middle; }
  form .note.error {
    color: #e3302c; }
form input.submit {
  width: 85px;
  height: 30px;
  line-height: 30px;
  background: url(/images/btns.gif) top center no-repeat;
  border: 0;
  font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 0 #0a5482;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
  top: 80px; }
  form input.submit:hover {
    background: url(/images/btns_.gif) top center no-repeat;
    text-shadow: 1px 1px 0 #b55f10; }
  form input.submit.tiny {
    width: 105px;
    height: 20px;
    line-height: 20px;
    padding-bottom: 2px;
    vertical-align: middle;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: none;
    background: url(/images/tiny.gif) top center no-repeat; }
    form input.submit.tiny:hover {
      background: url(/images/tiny_.gif) top center no-repeat; }
  form input.submit.mid {
    width: 115px;
    background: url(/images/btnm.gif) top center no-repeat; }
    form input.submit.mid:hover {
      background: url(/images/btnm_.gif) top center no-repeat; }
  form input.submit.long {
    width: 165px;
    background: url(/images/btnb.gif) top center no-repeat; }
    form input.submit.long:hover {
      background: url(/images/btnb_.gif) top center no-repeat; }

/* Custom file input */
/* Small blocks */
.block.small {
  width: 49%;
  background: white url(/images/bnd.gif) bottom center repeat-x;
  padding-bottom: 0; }
  .block.small.left {
    float: left;
    clear: none; }
  .block.small.right {
    float: right;
    clear: none; }
  .block.small .block_head {
    background: url(/images/bhead.gif) 0 0 repeat-x; }
  .block.small .block_content {
    background: white;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc; }
    .block.small .block_content input.text, .block.small .block_content textarea {
      width: 96%;
      padding: 7px; }
  .block.small.center {
    float: none;
    margin: 0 auto; }
    .block.small.center.login {
      width: 470px;
      background: white url(/images/bnd.gif) bottom center repeat-x;
      margin-top: 100px;
      margin-bottom: 100px;
      padding-bottom: 5px; }
.block.withsidebar .bendl {
  width: 191px;
  background: url(/images/bendsb.gif) bottom left no-repeat; }
.block.withsidebar .block_content {
  overflow: hidden;
  padding: 0;
  background: url(/images/sidebar.gif) 0 0 repeat-y; }
  .block.withsidebar .block_content .sidebar {
    width: 190px;
    float: left;
    font-size: 11px; }
    .block.withsidebar .block_content .sidebar p {
      padding: 0 13px 15px;
      line-height: 18px; }
    .block.withsidebar .block_content .sidebar ul.sidemenu {
      padding: 0;
      margin-bottom: 10px; }
      .block.withsidebar .block_content .sidebar ul.sidemenu li {
        padding: 0;
        margin: 0;
        background: 0;
        border-bottom: 1px solid #cccccc; }
        .block.withsidebar .block_content .sidebar ul.sidemenu li a {
          display: block;
          padding: 10px 13px;
          font-weight: bold; }
          .block.withsidebar .block_content .sidebar ul.sidemenu li a:hover {
            background: #fdfdfd;
            border-right: 1px solid #cccccc; }
        .block.withsidebar .block_content .sidebar ul.sidemenu li.active a {
          background: white;
          border: 0; }
          .block.withsidebar .block_content .sidebar ul.sidemenu li.active a:hover {
            background: white;
            border: 0; }
  .block.withsidebar .block_content .sidebar_content {
    padding: 15px 20px 15px 210px; }
.block .block_content .imglist {
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-bottom: 10px; }
  .block .block_content .imglist ul {
    padding: 0; }
  .block .block_content .imglist li {
    padding: 0;
    margin: 0;
    background: 0;
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    position: relative;
    margin: 13px 17px 10px 10px;
    border: 1px solid #cccccc;
    padding: 1px;
    box-shadow: 0 0 3px #cccccc;
    -moz-box-shadow: 0 0 3px #cccccc;
    -webkit-box-shadow: 0 0 3px #cccccc; }
    .block .block_content .imglist li img {
      position: absolute;
      z-index: 1;
      width: 100px;
      height: 100px; }
    .block .block_content .imglist li ul {
      position: absolute;
      z-index: 10;
      background: url(/images/imgo.gif) center no-repeat;
      width: 62px;
      height: 58px;
      left: 19px;
      top: 21px;
      display: none; }
    .block .block_content .imglist li:hover ul {
      display: block; }
    .block .block_content .imglist li ul li {
      display: block;
      width: 62px;
      height: 29px;
      text-align: center;
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none; }
      .block .block_content .imglist li ul li a {
        display: block;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        height: 29px;
        line-height: 29px;
        text-shadow: 0 0 2px black;
        outline: none; }
      .block .block_content .imglist li ul li.view a:hover {
        background: url(/images/imgt.gif) bottom center no-repeat; }
      .block .block_content .imglist li ul li.delete a:hover {
        background: url(/images/imgb.gif) top center no-repeat; }

/* Login block */
/* Block sidebar */
/* Image list */
/* Footer */
#footer {
  background: url(/images/ft.gif) 0 0 repeat-x;
  padding: 10px 0 50px;
  font-size: 10px;
  color: #757575;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  width: 1111px; }
  #footer a {
    color: #757575;
    text-decoration: underline; }
    #footer a:hover {
      color: #666666;
      text-decoration: none; }
  #footer .left {
    float: left; }
  #footer .right {
    float: right;
    text-align: right; }

div.small.left {
  float: left;
  clear: none; }
div.small.right {
  float: right;
  clear: none; }

/* field with errors highlights */
p.input.string.field_with_errors input, p.input.password.field_with_errors input, p.input.select.field_with_errors select {
  border: 1px solid red;
}

input.button{
    padding:5px;
}

form span.error {
  color: red;
  float: right;
  text-align: right;
  margin-right: 20px; }

#error_explanation h2, abbr {
  color: red; }

img.ajax-start {
  margin-left: 10px;
  vertical-align: -2px; }

/* My Comment */
.greyText {
  color: none;
  color: #cccccc; }

.marginLeft80 {
  margin-left: 80px !important; }

.tableBorder {
  border-bottom: none !important; }

.floatLeft {
  float: left; }

/* Note Form */
#notes.block table.list {
  width: 600px; }

/* Profile Form */
#profile.block .check_boxes {
  margin-left: -5px;
  padding: 0; }
  #profile.block .check_boxes input {
    float: left;
    margin-left: 5px; }
  #profile.block .check_boxes label {
    clear: right;
    display: block;
    position: relative;
    left: 10px;
    bottom: 2px; }

.statusLegend {
  -moz-border-radius: 6px;
  border: 1px solid #cccccc;
  padding: 5px 10px;
  background: white;
  width: 170px;
  margin: 0px 0px 10px 0px; }
  .statusLegend table {
    width: 100%; }
    .statusLegend table tr td {
      padding: 2px 0px; }
    .statusLegend table tr th {
      border: 1px solid #f4f4f4;
      border-width: 0px 0px 1px 0px;
      margin: 0px 0px 4px 0px;
      padding: 2px 0px; }

#search-news {
  float: right;
  width: 300px;
  padding: 7px 0 0 0;
  margin: 0px 0px 0px 15px; }

.more {
  float: right;
  margin: 0 0 0 10px; }

.more input {
  background: -moz-linear-gradient(center top, #f4f4f4, #ececec) repeat scroll 0 0 transparent;
  border: 1px solid #888888;
  -moz-border-radius: 2px;
  border: 1px solid #474747;
  font-size: 10px;
  padding: 4px 5px;
  /*margin: 3px 0 0 4px;*/
  position: relative; }

#cloudsAdmin {
  float: right;
  width: 270px;
  min-height: 300px;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  background: transparent !important; }

#cloudsAdmin .boxRounded {
  width: 269px !important; }

#leftCellAdmin {
  float: left;
  width: 820px; }

#cloudsAdmin a {
  font-family: Lucida Grande, Verdana, sans-serif;
  font-size: 12px;
  font-weight: normal !important;
  color: black !important; }

#fullContent {
  float: left;
  width: 100%; }

#fullContent {
  float: left;
  width: 100%; }
  #fullContent .block {
    width: 100%; }

#centerCellAdmin {
  float: left;
  width: 100%; }
  #centerCellAdmin .block {
    width: 100%; }

div.images ul li {
  height: 150px !important;
  width: 150px !important;
  padding-left: 0 !important;
  margin: 5px 5px; }

table.info td {
  border: none !important;
  padding: 3px !important; }
table.info td.title {
  font-weight: bold; }

.pagination_links {
  float: right; }

.in_making {
  color: #347c17; }
  .in_making a {
    color: #347c17 !important;
    text-decoration: underline !important; }

.in_review {
  color: #157dec; }
  .in_review a {
    color: #157dec !important;
    text-decoration: underline !important; }

a.scheduled {
  color: #7e587e !important; 
}

a.permanent {
  color: #ffffff !important; 
}

.scheduled {
  color: #7e587e; }
  .scheduled a {
    color: #7e587e !important;
    text-decoration: underline !important; }

a.in_review {
  color: #157dec !important; }

a.remove {
  color: #e56717 !important; }

.bold {
  font-weight: bold; }

ul.causeFilters {
  padding: 0 !important;
  margin: 0 0 10px 0 !important;
  float: right; }
  ul.causeFilters li {
    margin: 0 !important;
    padding: 0 !important; }
    ul.causeFilters li a {
      background: url("/images/hdr.gif") repeat-x scroll 0 0 transparent;
      color: #999999 !important;
      padding: 5px;
      margin: 0 3px; }

.bordered {
  border: 1px solid #cccccc;
  padding: 5px; }

.redNote {
  color: red; }

li.greyshaded {
  background: url("/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #cccccc;
  padding: 7px; }

ul.terms_and_conditions_links {
  margin: right;
  margin: 10px 10px 0 0;
  font-weight: bold; }
  ul.terms_and_conditions_links li.agree a {
    color: green; }
  ul.terms_and_conditions_links li.disagree a {
    color: red; }
