%h2 Forgot your password?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  #errorExplanation
    %h2
      Error :
    %ul
      %li  
        = flash[:error]
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p= f.submit "Send me reset password instructions"
= link_to 'Sign In', new_organisation_user_session_path