= f.error_messages
%table
  %tr
    %td
      = f.label :name
    %td
      = f.text_field :name
  %tr
    %td
      = f.label :organisation_type
    %td
      = f.select :organisation_type, SiteConfig.organisation_type.collect {|key, type| [type, type]}, {}, :onchange => ''
  %tr
    %td
      = f.label :website
    %td
      = f.text_field :website
  %tr
    %td
      = f.label :logo
    %td
      - if @organisation.logo.path.present?
        = image_tag @organisation.logo.url
      %p
        = f.file_field :logo

  %tr 
    %td
      %label
        Organisation User Contact Info

  =f.fields_for :organisation_users do |organisation_user_fields|
    %tr
      %td
        = organisation_user_fields.label :user_email
      %td
        = organisation_user_fields.text_field :email
    %tr
      %td
        = organisation_user_fields.label :first_name
      %td
        = organisation_user_fields.text_field :first_name
    %tr
      %td
        = organisation_user_fields.label :last_name
      %td
        = organisation_user_fields.text_field :last_name
    %tr
      %td
        = organisation_user_fields.label :password
      %td
        = organisation_user_fields.password_field :password
      %td
        Leave Password and confirm password blank, if you don't want to change it
    %tr
      %td
        = organisation_user_fields.label :password_confirmation
      %td
        = organisation_user_fields.password_field :password_confirmation
  %tr
    %td{:colspan => '2'}
      = f.submit :class => 'button'
      |
      - if under_admin?
        - if @organisation.new_record?
          = link_to 'Cancel', admin_organisations_path
        - else
          =link_to "Cancel", admin_organisation_path(@organisation.id)
      - else
        = link_to "Back to List", admin_organisations_path
