=h content_for(:title, "Edit #{@organisation.name}")
= form_for(@organisation, :url => admin_organisation_path(@organisation), :html => {:multipart => true, :method => :put}) do |f|
  = render :partial => 'form', :locals => {:f => f}
  %p{:style => "margin-top : 10px;"}
    = link_to 'Delete this Organisation', admin_organisation_path(@organisation), :method => :delete, :class => 'remove', :confirm => 'Are you sure you want to delete this organisation?'
