=h content_for(:title, "List of Organisations")
%table{:width => "100%"}
  %tr
    %th= 'Organisation'
    %th= 'Total causes'
    %th= 'Contact Name'
    %th= 'Contact email'
    %th= 'Actions'
  %tr
  - for organisation in @organisations
    %tr
      %td= link_to organisation.name, admin_organisation_path(organisation), :title => organisation.name
      %td= link_to organisation.causes.count, cause_namespaced(causes_path(organisation))
      %td= organisation.organisation_users.first.name
      %td= organisation.organisation_users.first.email
      %td
        =link_to 'Edit', edit_admin_organisation_path(organisation), :title => "Edit #{organisation.name}"

= link_to "New Organisation", new_admin_organisation_path, :title => "Create a new Organisation", :class => 'bold'

#div.pagination_links
  = will_paginate @organisations
