=h content_for(:title, "Add new Organisation")
= form_for(@organisation, :url => admin_organisations_path, :html => {:multipart => true}) do |f|
  = render :partial => 'form', :locals => {:f => f}
  %p{:style => "margin-top : 10px;"}