=h content_for(:title, @organisation.name)
%p
  %div
    = image_tag @organisation.logo.url
  %strong Name:
  = @organisation.name
%p
  %strong Email:
  = @organisation.organisation_users.first.email
%p
  %strong Type of Organisation:
  = @organisation.organisation_type
%p
  %strong Website:
  = @organisation.website
%p
  %strong Causes
%table{:width => "100%"}
  %tr
    %th= "Name"
    %th= "Requested date"
    %th= "Target $"
    %th= "Status"
    %th= "Action"
  -@causes.each do |cause|
    %tr{:class => cause.status}
      %td= cause.name
      %td= cause.requested_schedule_date
      %td= cause.target_amount
      %td= cause.status.titleize
      %td
        = link_to 'Edit', cause_namespaced(edit_cause_path(cause))
        |
        =link_to "Images (#{cause.images.count})", cause_namespaced(new_cause_cause_image_path(cause))
        |
        =link_to "Remove", cause_namespaced(cause_path(cause)), :confirm => "Are you sure you want to completely remove this cause? It will be permenantly deleted from our system and you will no longer be able to access it.",:class => 'remove',:method => :delete
- if @causes.empty?
  No Causes added yet.
#div.pagination_links
  = will_paginate @causes

%div
  = link_to 'Back to Organisations', admin_organisations_path
  |
  = link_to 'Edit this Organisation', edit_admin_organisation_path(@organisation)
