- title "Address"
- if session[:current_user] == 'admin' && address.owner_type == 'Organisation'
  %p{:style => "margin-top: 10px;"}
  %h1== Organisation Contact details :
%p
  %strong Address1:
  = address.address_line1
%p
  %strong Address2:
  = address.address_line2
%p
  %strong Landline No:
  = address.landline_no
%p
  %strong Mobile No:
  = address.mobile_no
%p
  %strong City:
  = address.city
%p
  %strong State:
  = address.state
%p
  %strong Country:
  = address.country
%p
  %strong Zip:
  = address.zip_code
%p{:style => "margin-top: 10px;"}
  = link_to image_tag("edit.png"), edit_address_path(:id => address.id, :owner_id => address.owner_id, :owner_type => address.owner_type)

  - if address.owner_type != 'CreditCard'
    = link_to image_tag("delete.png"), address_path (:id => address.id, :owner_id => address.owner_id), :confirm => 'Are you sure?', :method => :delete
