=f.error_messages
%p
  = f.hidden_field :owner_id
%p
  = f.hidden_field :owner_type
%p
  = f.label :address_type
  %br/
  = f.select :address_type, SiteConfig.address_type.collect {|key, type| [type, type]}, {}, :onchange => ''
%p
  = f.label :address1
  %br/
  = f.text_field :address_line1
%p
  = f.label :address2
  %br/
  = f.text_field :address_line2
%p
  = f.label :landline_no
  %br/
  = f.text_field :landline_no
%p
  = f.label :mobile_no
  %br/
  = f.text_field :mobile_no
%p
  = f.label :city
  %br/
  = f.text_field :city
%p
  = f.label :state
  %br/
  = f.text_field :state
%p
  = f.label :country
  %br/
  = f.text_field :country
%p
  = f.label :zip_code
  %br/
  = f.text_field :zip_code
%p= f.submit