- title "Edit Address"
= form_for(@address, :url => address_path, :html => {:method => :put}) do |f|
  = render :partial => 'form', :locals => {:f => f}
  %p
  = link_to "Show", @address
  |
  = link_to "View All", addresses_path
