- title "Addresses"
%table
  %tr
    %th Address1
    %th Address2
    %th Landline No
    %th Mobile No
    %th City
    %th Country
    %th Zip Code
    %th Owner
    %th Owner Type
  - for address in @addresses
    %tr
      %td= address.address1
      %td= address.address2
      %td= address.landline_no
      %td= address.mobile_no
      %td= address.city
      %td= address.country
      %td= address.zip_code
      %td= address.owner_id
      %td= address.owner_type
      %td= link_to "Show", address
      %td= link_to "Edit", edit_address_path(address)
      %td= link_to "Destroy", address, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Address", new_address_path