- title "New Address"
= form_for(@address, :url => addresses_path) do |f|
 = render :partial => 'form', :locals => {:f => f, :owner_id => @address.owner_id, :owner_type => @address.owner_type}
%p
= link_to "Back to List", addresses_path
