- title "Address"
%p
  %strong Address1:
  = @address.address_line1
%p
  %strong Address2:
  = @address.address_line2
%p
  %strong Landline No:
  = @address.landline_no
%p
  %strong Mobile No:
  = @address.mobile_no
%p
  %strong City:
  = @address.city
%p
  %strong State:
  = @address.state
%p
  %strong Country:
  = @address.country
%p
  %strong Zip Code:
  = @address.zip_code
%p
  = link_to "Edit", edit_address_path(@address)
  |
  \#{link_to "Destroy", @address, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", addresses_path}