= f.error_messages
%p
  = f.label :first_name
  %br/
  = f.text_field :first_name
%p
  = f.label :last_name
  %br/
  = f.text_field :last_name
%p.instructions= "* Please leave the password fields blank if you do not wish to update your password"
%p
  = f.label :password
  %br/
  = f.password_field :password
%p
  = f.label :password_confirmation
  %br/
  = f.password_field :password_confirmation
%p 
  =f.submit 'Update'