=h content_for(:title, "Edit #{@organisation_user.first_name || @organisation_user.email}")
= form_for(@organisation_user, :url => organisation_organisation_user_path(:id => @organisation_user.id)) do |f|
  = render :partial => 'form', :locals => {:f => f}