=h content_for(:title, @organisation_user.first_name || @organisation_user.email)
%p
  %span.notice= flash[:notice]
%p
  %strong Organisation:
  = @organisation_user.organisation.name
%p
  %strong Email:
  = @organisation_user.email
%p
  %strong First Name:
  = @organisation_user.first_name
%p
  %strong Last Name:
  = @organisation_user.last_name
%p{:style => "margin-top: 10px;"}
  = link_to image_tag("/images/edit.png"), edit_organisation_organisation_user_path(@current_organisation_user), :title => "Edit"