%div
  #calhead{:style => "padding-left:1px;padding-right:1px;"}
    .cHead
      .ftitle Schedules
      #loadingpannel.ptogtitle.loadicon{:style => "display: none;"} Loading data...
      #errorpannel.ptogtitle.loaderror{:style => "display: none;"} Sorry, could not load your data, please try again later
    #caltoolbar.ctoolbar
      -##faddbtn.fbutton
      -#  %div
      -#    %span.addcal{:title => "Click to Create New Event"}
      -#      New Event
      -#.btnseparator
      -##showtodaybtn.fbutton
      -#  %div
      -#    %span.showtoday{:title => "Click to back to today "}
      -#      Today
      -#.btnseparator
      -##showdaybtn.fbutton
      -#  %div
      -#    %span.showdayview{:title => "Day"} Day
      -##showweekbtn.fbutton
      -#  %div
      -#    %span.showweekview{:title => "Week"} Week
      -##showmonthbtn.fbutton.fcurrent
      -#  %div
      -#    %span.showmonthview{:title => "Month"} Month
      -#.btnseparator
      -##showreflashbtn.fbutton
      -#  %div
      -#    %span.showdayflash{:title => "Refresh view"} Refresh
      -#.btnseparator
      -##sfprevbtn.fbutton{:title => "Prev"}
      -#  %span.fprev
      -##sfnextbtn.fbutton{:title => "Next"}
      -#  %span.fnext
      -#.fshowdatep.fbutton
        %div
          %input#hdtxtshow{:name => "txtshow", :type => "hidden"}
          %span#txtdatetimeshow Loading
      .clear
  %div{:style => "padding:1px;"}
    .t1.chromeColor
      \
    .t2.chromeColor
      \
    #dvCalMain.calmain.printborder
      #gridcontainer{:style => "overflow-y: visible;"}
    .t2.chromeColor
      \
    .t1.chromeColor
      \
:javascript
  loadCalendar();

