= form_for :cause_image, :url => cause_namespaced(cause_images_path), :html => {:method => :post, :multipart => true} do |f|
  f.errors_messages
  %table
    %tr
      %td= 'Organization'
      %td= 'Test'
    %tr
      %td= 'Cause'
      %td= "TEST"
    %tr
      %td= 'Awesome'
      %td= 'Kool'
