.clr
  clear:both

.floatLeft
  float:left

.floatRight
  float:right

#causeDetails
  margin-top: 20px
  padding: 10px
  color: #484848
  #leftSection
    float: left
    width: 660px
    background: #ffffff
    .header
      padding: 10px 10px 0 10px
      width: inherit
      .title
        padding: 20px 0 0 60px
        background: url('/assets/cause_logo_white.jpg') no-repeat
        font-size: 30px
        line-height: 30px
        font-weight:bold
      .subtitle
        padding-left: 60px
        color: #d1d1d1
        font-size: 20px
        font-style:italic
        vertical-align:top
        line-height: 20px
    .bannerSlideshow
      margin-left: 5px
      width: 640px
      height: 260px
      overflow: hidden
      li
        list-style: none
    .data
      padding: 10px
      .description
        padding: 20px
      .updates, .countryStats
        .title
          background: url('/assets/heading_bg.jpg')
          height: 24px
          vertical-align: middle
          font-weight: bold
          padding: 5px 0 0 10px
          font-size: 16px
          color: #8a8a8a
        .content
          padding: 20px
        .update
          background: #f7f7f7
          margin: 15px 0 5px 0
          padding: 20px 20px 5px 20px
          .updateTitle
            font-size: 18px
            color: #58b21c
            span.datetime
              font-size: 12px
              color: #c5c5c5
              float: right
              vertical-align: bottom
              display: block
          .updateContent

  #rightSection
    float: right
    width: 260px
    .top
      background: #ffffff
      height: 390px
      .dateField
        background: url('/assets/greenDateBg.png') no-repeat
        height: 80px
        width: 145px
        margin-left: 40px
        margin-top: -12px
        position: absolute
        color: #ffffff
        .date
          font-size: 50px
          float: left
          padding: 6px 5px  0 20px
          font-weight: bold
        .month
          font-size: 25px
          float: right
          padding: 18px 15px 0 0
          line-height: 20px
        .year
          font-size: 25px
          float: right
          padding: 0 6px 0 0
          line-height: 20px
      .title
        color: #7FB637
        font-size: 40px
        padding-top: 120px
        line-height: 40px
      .amountRaised
        padding-top: 40px
        font-size: 30px
        line-height: 20px
    .bottom
      background: none


.socialButtons
  float: right
  padding-right: 20px
  height: 25px
  ul
    display: inline
  ul li
    display: inline
    float: left
    margin-left: 5px
    width: 80px
    div
      vertical-align: top !important
  li.last
    width: 50px
      

#causeAction
  float: right
  width: 240px
  background: #ffffff
  margin-top: 20px
  padding: 10px

#causeAction
  h2.date
  position:absolute
  height: 79px
  width: 145px
  background: url('greenDateBg.png')
  margin-top: -20px

#causeAction 
  .top-middle-blackbox-info
    margin-top: 45px

