#faq h1{font-weight:bold; font-size:24px;color: #7EB536;margin:20px 0 10px 0;}
#faq h2{font-weight:bold; color: #353535; font-size: 16px;margin:10px 0;}
#faq div{color: #717171; font-size: 16px;margin:5px 0 10px 0;padding-bottom:10px;border-bottom:2px dashed #C2C2C2;}
#faq div.last{border-bottom:none;}

#howItWorks h1{font-weight:bold; font-size:24px;color: #7EB536;margin:40px 0 10px 0;}
#howItWorks img{border: 1px solid #C2C2C2; padding:10px 0;margin:10px 0;}


#contactUs h1{font-weight:bold; font-size:24px;color: #7EB536;margin:40px 0 10px 0;}
#contactUs div{margin:15px 0;font-size:16px;}
#contactUs div h2{color: #3A3C37;font-size:20px;}
#contactUs div p{border:3px solid #C2C2C2;padding:10px;}

#contactUs div a{color: #7FC352;text-decoration: none;}
