.jcarousel-skin-tango {
  .jcarousel-container {
    
   }
  .jcarousel-direction-rtl {
    direction: rtl; }
  .jcarousel-container-horizontal {
    width: 745px;
    padding: 20px 40px 20px 0; }
  .jcarousel-clip {
    overflow: hidden; }
  .jcarousel-clip-horizontal {
    width: auto;margin-left:-12px;
    height: 475px; }
  .jcarousel-item {
    width: auto;
    height: 460px; }
  .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px; }
  .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0; }
  .jcarousel-item-placeholder {
    background: #fff;
    color: #000; }
  .jcarousel-next-horizontal {
    position: absolute;
    bottom: -36px;
    right: -36px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0; }
  .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png); }
  .jcarousel-next-horizontal {
    &:hover, &:focus {
      background-position: -32px 0; }
    &:active {
      background-position: -64px 0; } }
  .jcarousel-next-disabled-horizontal {
    cursor: default;
    background-position: -96px 0;
    &:hover, &:focus, &:active {
      cursor: default;
      background-position: -96px 0; } }
  .jcarousel-prev-horizontal {
    position: absolute;
    bottom: -36px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0; }
  .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png); }
  .jcarousel-prev-horizontal {
    &:hover, &:focus {
      background-position: -32px 0; }
    &:active {
      background-position: -64px 0; } }
  .jcarousel-prev-disabled-horizontal {
    cursor: default;
    background-position: -96px 0;
    &:hover, &:focus, &:active {
      cursor: default;
      background-position: -96px 0; } } }

