Welcome to 97changes.com
===============================================

You have been granted permission to be able to upload causes.
your username is: #{@user.email}.

To login to the site, just follow this link: #{@url}.

Thanks for joining and have a great day!