%h2
  New cause has been created as - 

%p
  Cause Name :
  = @cause.name

%p
  Oragnisation Name :
  = @cause.organisation_name

%p
  Description :
  = @cause.description

%p
  See More Details at - 
  = SiteConfig.host + '/organisation/causes'