#leftCell

  -if @cause_of_the_day
    %h1{:style => ""}=@cause_of_the_day.name
    .imageDisplay
      %a{:href => "#"}
        %img{:alt => "girl", :src => "../images/gal_2.jpg"}/
    -if current_donor
      = render :partial => "payment_response/amazon_donate_button", :locals => {:cause_of_the_day => @cause_of_the_day}
      %br
      - if !current_donor.credit_cards.empty?
        = link_to "Payment by CreditCard", donor_credit_cards_path(current_donor.id)
  -else
    %p
      %h1 No Cause scheduled for today

  #cloudsAdmin
    %div{:class => "block boxRounded", :style => "margin: 40px 0 0;"}
      .block_head
        .bheadl
        .bheadr
        %h2
          Tags
      / .block_head ends
      .block_content
        = render :partial => "admin/admin/tags"
        %p
      .bendl
      .bendr
