#rightCell
  #infoCell
    %p.description
      %span
        A Single Act of Kindness....
    %p.blackText
      “A single act of kindness throws out roots in all directions, and the roots spring up and make new trees. The greatest work that kindness does to others is that it makes them kind themselves.”
      %br/
      Lawrence G. Lovasik
   