- if current_organisation_user
  %ul#nav
    %li{:class => check_active(organisation_dashboard_path)}
      %a{:href => organisation_dashboard_path} Home
    %li{:class => check_active(cause_namespaced(causes_path))}
      %a{:href => cause_namespaced(causes_path)} Causes
    %li{:class => check_active('#')}
      %a{:href => organisation_faq_path} FAQ
    %li{:class => check_active(organisation_terms_and_conditions_path)}
      %a{:href => organisation_terms_and_conditions_path} Terms & Conditions
  %p.user
    Welcome
    |
    = link_to 'My Profile', organisation_organisation_user_path(current_organisation_user),
       :class => check_active(organisation_organisation_user_path(current_organisation_user))
    |
    %a{:href =>  destroy_organisation_user_session_path} Logout