%ul
  %li{:class => check_active(root_path)}
    = link_to root_path do
      %strong Home

  %li{:class => check_active(how_it_works_path)}
    = link_to how_it_works_path do
      %strong How it works
  %li{:class => check_active(faq_path)}
    = link_to faq_path do
      %strong FAQ
  /
    %li
      = link_to 'http://blog.com' do
        %strong Blogs
  %li{:class => check_active(contact_us_path)}
    = link_to contact_us_path do
      %strong Contact us