!!!
%html
  %head
    %meta{:charset => "utf-8"}
      / Main Stylesheet load first
      = stylesheet_link_tag 'application'
      %link{:href => "images/97_changes.ico", :rel => "icon", :type => "image/x-icon"}/
      / Targetting IE6 and IE7
      /[if IE 6]
        = stylesheet_link_tag "application_ie" 
      /[if IE 7]
        <style>
        \.howworks
        {
        margin: 15px 0px 8px 0px;
        }
        </style>
      / Jquery library loads here
      = javascript_include_tag 'application'
      = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
      /[if lt IE 9]
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      %title
        Welcome to 97changes
  %body
    / Main Wrapper
    .wrapper
      %header.header
        %section.header-left
          %a{:href => "/"}
            %img{:alt => "logo", :height => "90", :src => "/images/donor/logonew.png", :title => "logo", :width => "318"}/
        %aside.header-right
          %section.top-menu
            - if current_donor
              %span
                %strong
                  = current_donor.username.to_s
              / |
              / %span
              /   = link_to my_donations_path  do
              /     %strong My Donations
              |
              %span
                = link_to destroy_donor_session_path do
                  %strong
                    Log Out
        .clearfloat
        / Top-menu
        %nav.topnav
          = render 'layouts/top_nav'
      .clearfloat
      %section.home-top-heading
        %p
          Let's make the world a better place, I dollar at a time.
          %br>/
          Join the movement to bring about the "change we need"
      .clearfloat
      / Middle-box starts

      = yield

      / Middle-box Ends
      .clearfloat

      / Bottom-box ends
    / Wrapper Ends
    / Footer Starts
    %section.footer
      %section.footer-content
        %section.footer-content-left
          Commited to better the world
        %section.footer-content-right 2011-2012 97 changes. All rights reserved. Powerd by Idylic Software
    / Footer Ends
